.spc {
  --spc-content-padding: 16px;
  display: flex;
  flex-direction: column;
  /*background-color: orange;*/
  border-radius: 0.5em;
  overflow: hidden;
  padding-bottom: var(--spc-content-padding);
  box-shadow: 0px 8px 12px 0px #88888880;
}

.spc:not(:disabled) > section * {
  cursor: pointer; 
}


.spc > section:not(:first-of-type) {
  padding: 0 var(--spc-content-padding);
}

.spc-img > img {
  width: 100%;
  height: auto;
}

.spc-img > img:hover {
  filter: brightness(0.5);
}

.spc-header {

}

.spc-desc {

}

.spc-cta {
  padding: var(--spc-content-padding) !important;
}
