@property --shiny-spin {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.shiny-card::after, .shiny-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--shiny-spin), transparent 0%,yellow);
  /*background-image: conic-gradient(from var(--shiny-spin), transparent,yellow, transparent, yellow, transparent, yellow);*/
  z-index: -1;
  padding: 2px;
  translate: -2px -2px;
  border-radius: 0.5em;
  animation: 3s shine linear infinite;
}

.shiny-card::before {
  filter: blur(2rem);
}

@keyframes shine {
  from {
    --shiny-spin: 0deg;
  }
  to {
    --shiny-spin: 360deg;
  }
}

.shiny-card {
  --shiny-card-content-padding: 16px;
  display: grid;
  grid-template-rows: auto auto;
  flex-direction: column;
  border-radius: 0.5em;
  padding: var(--shiny-card-content-padding);
  max-width: 300px;
  background-color: #888888;
  position: relative;
}

.shiny-card:not(:disabled) > section * {
  cursor: pointer; 
}

.shiny-card-img > img {
  width: 100%;
  height: auto;
}

.shiny-card-img > img:hover {
  filter: brightness(0.8);
}

.shiny-card-header {

}

.shiny-card-desc {

}

.shiny-card-cta {
  padding: var(--shiny-card-content-padding) !important;
}
