
.SimpleMenu-Container {
  background: pink;
  height: 40px;
  width: 100vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 16px 2px rgba(0, 0.9999999999999964, 35, 0.0784313725490196)
}

.top-section {
  display: block;
}

.container {
  display: flex;
  padding: 8px 24px;
}

.full-width {
  width: 100%;
}

.horizontal-list {
  display: flex;
}

.menu-item {
  list-style: none;
  padding: 12px 8px;
}
